<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% if(message){ %>
        <h1><%= message %></h1>
    <% } %>
    我是首页，所有人都有权限看； <a href="/login">点我登录</a>
</body>
</html>
